<?xml version="1.0" encoding="utf-8"?>
<manifest android:versionCode="1010181925" android:versionName="3.0.0.1" package="com.android.email"
  xmlns:android="http://schemas.android.com/apk/res/android">
    <original-package android:name="com.android.email" />
    <uses-permission android:name="com.sec.android.provider.badge.permission.WRITE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_TASKS" />
    <uses-permission android:name="android.permission.WRITE_TASKS" />
    <uses-permission android:name="android.permission.READ_OWNER_DATA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_POLICIES" />
    <uses-permission android:name="android.permission.WRITE_POLICIES" />
    <uses-permission android:name="android.permission.BIND_DEVICE_ADMIN" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    <uses-permission android:name="android.permission.MASTER_CLEAR" />
    <uses-permission android:name="com.android.setting.permission.ACCESS_SECURE_SERVICE" />
    <uses-permission android:name="android.permission.sec.MDM_SECURITY" />
    <uses-permission android:name="android.permission.RECEIVE_WAP_PUSH" />
    <permission android:label="@string/read_attachment_label" android:name="com.android.email.permission.READ_ATTACHMENT" android:protectionLevel="dangerous" android:permissionGroup="android.permission-group.MESSAGES" android:description="@string/read_attachment_desc" />
    <uses-permission android:name="com.android.email.permission.READ_ATTACHMENT" />
    <permission android:label="@string/permission_access_provider_label" android:name="com.android.email.permission.ACCESS_PROVIDER" android:protectionLevel="signatureOrSystem" android:description="@string/permission_access_provider_desc" />
    <uses-permission android:name="com.android.email.permission.ACCESS_PROVIDER" />
    <uses-permission android:name="com.seven.Z7.permission.ACCESS_PROVIDER" />
    <uses-permission android:name="com.seven.Z7.permission.ACCESS_EVENTS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.ACCOUNT_MANAGER" />
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_DEV_STORAGE" />
    <uses-permission android:name="android.permission.CLEAR_APP_USER_DATA" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <application android:label="@string/app_name" android:icon="@drawable/icon" android:name="Email">
        <uses-library android:name="com.google.android.maps" />
        <activity android:theme="@android:style/Theme.NoTitleBar" android:name=".activity.Welcome" android:launchMode="singleTop" android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.seven.Z7.ACTION_EMAIL" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.sec.android.widgetapp.ACTION_EMAIL" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:label="@string/upgrade_accounts_title" android:name=".activity.UpgradeAccounts" android:configChanges="keyboardHidden|orientation" />
        <activity android:name="com.digc.seven.CheckPremiumUser" android:exported="true" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="intent.seven.action.ADD_ACCOUNT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:label="@string/account_setup_basics_title" android:name=".activity.setup.AccountSetupBasics" android:exported="true" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="stateAlwaysVisible">
            <intent-filter>
                <action android:name="android.intent.action.EMAIL_ADD_ACCOUNT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.seven.Z7.ACTION_IM_SSO_TO_EMAIL" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:label="@string/account_setup_basics_title" android:name=".activity.setup.AccountSetupBasicsPremium" android:exported="true" android:configChanges="keyboardHidden|orientation" />
        <activity android:label="@string/account_setup_exchange_title" android:name=".activity.setup.AccountSetupBasicExchange" android:exported="true" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="stateAlwaysVisible" />
        <activity android:label="@string/account_setup_account_type_title" android:name=".activity.setup.AccountSetupAccountType" android:configChanges="keyboardHidden|orientation" />
        <activity android:label="@string/account_setup_incoming_title" android:name=".activity.setup.AccountSetupIncoming" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="stateAlwaysVisible" />
        <activity android:label="@string/account_setup_outgoing_title" android:name=".activity.setup.AccountSetupOutgoing" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="stateAlwaysVisible" />
        <activity android:label="@string/account_settings_smime_import_certificate_title" android:name=".smime.ImportCertificate" />
        <activity android:label="@string/account_settings_smime_installed_certificates_list" android:name=".smime.InstalledCertificatesList" />
        <activity android:label="@string/account_settings_smime_security_options" android:name=".smime.SecurityPreference" />
        <activity android:label="@string/account_setup_exchange_title" android:name=".activity.setup.AccountSetupExchange" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="stateAlwaysVisible" />
        <activity android:label="@string/auto_discover_title" android:name=".activity.setup.AutoDiscoverSetupExchange" android:configChanges="keyboardHidden|orientation" />
        <activity android:label="@string/account_setup_options_title" android:name=".activity.setup.AccountSetupOptions" android:configChanges="keyboardHidden|orientation" />
        <activity android:label="@string/account_setup_names_title" android:name=".activity.setup.AccountSetupNames" android:configChanges="keyboardHidden|orientation" />
        <activity android:theme="@android:style/Theme.NoTitleBar" android:label="@string/account_setup_check_settings_title" android:name=".activity.setup.AccountSetupCheckSettings" android:configChanges="keyboardHidden|orientation" />
        <activity android:label="@string/account_settings_action" android:name=".activity.setup.AccountSettings" android:launchMode="singleTop" android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="com.android.email.activity.setup.ACCOUNT_MANAGER_ENTRY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="intent.seven.action.EMAIL_ACCOUNT_PREFERENCE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.android.email.activity.setup.AccountSettings.intent.action.ACTION_EXTERNAL_ACCOUNT_SETTINGS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.setup.AccountSecurity" android.label="@string/account_security_title" />
        <activity android:label="@string/debug_title" android:name=".activity.Debug" />
        <activity android:label="@string/account_manager_action" android:name=".activity.AccountManager" android:configChanges="keyboardHidden|orientation" />
        <activity android:label="@string/account_manager_action" android:name=".activity.AccountManagerPremium" android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="com.android.email.intent.action.ACTION_ACCOUNT_DELETE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:label="@string/app_name" android:name=".activity.AccountShortcutPicker" android:enabled="false" android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MailboxList" android:configChanges="orientation" />
        <activity android:name=".activity.MessageList" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/email" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.EMAILSEARCH_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.FolderMessageList" android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:label="@string/out_of_office_label" android:name=".activity.setup.OoOSettings" android:configChanges="keyboardHidden|orientation" />
        <activity android:label="@string/out_of_office_message_label" android:name=".activity.setup.OoOSetMessage" android:configChanges="keyboardHidden|orientation" />
        <activity android:label="@string/app_name" android:name=".activity.MessageCompose" android:enabled="false" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="com.android.email.intent.action.FORWARD" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.android.email.intent.action.REPLY_ALL" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.SENDTO" />
                <data android:scheme="mailto" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.SEND" />
                <data android:mimeType="*/*" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <data android:mimeType="*/*" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter android:label="@string/app_name">
                <action android:name="com.android.email.intent.action.REPLY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:label="@string/search" android:name=".activity.SearchActivity" android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data android:name="android.app.searchable" android:resource="@xml/searchable" />
        </activity>
        <activity android:label="@string/account_settings_smime_security_options" android:name=".activity.SecurityOptions" />
        <activity android:label="@string/recent_list_title" android:name=".activity.RecentList" android:configChanges="keyboardHidden|orientation" />
        <activity android:theme="@style/CustomDialogTheme" android:label="@string/contact_preview_popup" android:name=".activity.ContactPreviewPopup" android:configChanges="keyboardHidden|orientation" />
        <activity android:name=".activity.EmailSearchQuery" android:configChanges="keyboardHidden|orientation" />
        <activity android:label="@string/sync_schedule_title" android:name=".activity.setup.SyncScheduleSettings" android:configChanges="keyboardHidden|orientation" />
        <activity android:name=".activity.MessageComposePreview" android:configChanges="keyboardHidden|orientation" />
        <activity android:label="@string/general_product_nameshort" android:name=".activity.setup.AccountSetupDisclaimerWeb" android:configChanges="keyboardHidden|orientation" />
        <activity android:theme="@style/AttachContextMenu" android:name=".activity.AddLocationActivity" android:multiprocess="true" android:excludeFromRecents="true" android:configChanges="keyboardHidden|orientation" android:finishOnCloseSystemDialogs="false" />
        <activity android:theme="@style/AttachContextMenu" android:name=".activity.FindLocationActivity" android:multiprocess="true" android:excludeFromRecents="true" android:configChanges="orientation" android:finishOnCloseSystemDialogs="false" />
        <activity android:label="@string/date" android:name=".activity.CustomizeDateScreen" android:configChanges="keyboardHidden|orientation" />
        <activity android:label="@string/date" android:name=".activity.CustomizeDate" android:configChanges="keyboardHidden|orientation" />
        <activity android:label="@string/account_settings_smime_security_policy_list" android:name=".activity.PoliciesList" android:clearTaskOnLaunch="true" android:configChanges="keyboardHidden|orientation" />
        <receiver android:name="com.android.exchange.EmailSyncAlarmReceiver" />
        <receiver android:name="com.android.exchange.TasksSyncAlarmReceiver" />
        <receiver android:name="com.android.exchange.MailboxAlarmReceiver" />
        <receiver android:name="com.android.exchange.BootReceiver" android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="com.android.email.RESTART_SYNCMANAGER" />
            </intent-filter>
        </receiver>
        <receiver android:name=".service.BootReceiver" android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="com.android.email.RESTART_SYNCMANAGER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.DEVICE_STORAGE_LOW" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.DEVICE_STORAGE_OK" />
            </intent-filter>
        </receiver>
        <receiver android:name=".service.CarrierAccountReceiver" android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.SET_RECV_HOST" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.GET_RECV_HOST" />
            </intent-filter>
        </receiver>
        <receiver android:name=".service.EmailPushReceiver">
            <intent-filter>
                <action android:name="android.provider.Telephony.WAP_PUSH_RECEIVED" />
                <data android:mimeType="application/vnd.wap.emn+wbxml" />
            </intent-filter>
        </receiver>
        <receiver android:label="@string/device_admin_label" android:name=".SecurityPolicy$PolicyAdmin" android:permission="android.permission.BIND_DEVICE_ADMIN" android:description="@string/device_admin_description">
            <meta-data android:name="android.app.device_admin" android:resource="@xml/device_admin" />
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".OneTimeInitializer" android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.android.email.SecurityReceiver" android:enabled="true">
            <intent-filter>
                <action android:name="com.android.security.intent.action.PASSWORD_RECOVERY" />
            </intent-filter>
        </receiver>
        <receiver android:name=".EmailGateReceiver">
            <intent-filter>
                <action android:name="com.sec.android.gate.GATE" />
            </intent-filter>
        </receiver>
        <receiver android:name=".service.EnterpriseDMReceiver" android:enabled="true">
            <intent-filter>
                <action android:name="com.android.email.SIGNATURE_UPDATED" />
                <action android:name="com.android.email.INSTALL_CERTIFICATE" />
                <action android:name="com.android.email.RENAME_CERTIFICATE" />
                <action android:name="com.android.email.ACCOUNT_DELETED" />
                <action android:name="com.android.email.ENABLE_MESSAGECOMPOSE" />
            </intent-filter>
        </receiver>
        <receiver android:label="BluetoothMAPReceiver" android:name="com.android.email.BluetoothMAPReceiver" android:enabled="true">
            <intent-filter>
                <action android:name="com.broadcom.bt.service.map.DS_DISCOVER" />
                <action android:name="broadcom.bt.intent.action.BT_SVC_STATE_CHANGE" />
            </intent-filter>
        </receiver>
        <service android:name="com.android.email.BluetoothMAPService" android:enabled="true" />
        <service android:name=".service.DefaultAccountService" android:enabled="true" />
        <service android:name=".service.MailService" android:enabled="false">
            <intent-filter>
                <action android:name="com.android.email.intent.action.MAIL_SERVICE_REFRESH_ONE_ACCOUNT" />
                <action android:name="com.android.email.intent.action.ACTION_EXTERNAL_EMAIL_DELETE" />
                <action android:name="com.android.email.intent.action.ACTION_EXTERNAL_ACCOUNT_DELETE" />
                <action android:name="com.android.email.intent.action.ACTION_EXTERNAL_MARK_AS_READ" />
                <action android:name="com.android.email.intent.action.ACTION_EXTERNAL_DB_SET_FAVORITE" />
                <action android:name="com.android.email.intent.action.ACTION_EXTERNAL_DB_SET_FOLLOWUPFLAG" />
            </intent-filter>
        </service>
        <service android:name="com.android.exchange.ContactsSyncAdapterService" android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data android:name="android.content.SyncAdapter" android:resource="@xml/syncadapter_contacts" />
        </service>
        <service android:name="com.android.exchange.CalendarSyncAdapterService" android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data android:name="android.content.SyncAdapter" android:resource="@xml/syncadapter_calendar" />
        </service>
        <service android:name="com.android.exchange.TasksSyncAdapterService" android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data android:name="android.content.SyncAdapter" android:resource="@xml/syncadapter_tasks" />
        </service>
        <service android:name="com.android.exchange.SyncManager" android:enabled="true" />
        <service android:name=".service.EasAuthenticatorService" android:enabled="true" android:exported="true">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data android:name="android.accounts.AccountAuthenticator" android:resource="@xml/authenticator" />
        </service>
        <service android:name=".service.EasAuthenticatorServiceAlternate" android:enabled="false" android:exported="true">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data android:name="android.accounts.AccountAuthenticator" android:resource="@xml/authenticator_alternate" />
        </service>
        <service android:name=".service.TextToSpeechService" android:exported="true" />
        <provider android:name=".provider.AttachmentProvider" android:readPermission="com.android.email.permission.READ_ATTACHMENT" android:multiprocess="true" android:authorities="com.android.email.attachmentprovider" android:grantUriPermissions="true" />
        <provider android:name=".provider.EmailProvider" android:permission="com.android.email.permission.ACCESS_PROVIDER" android:multiprocess="true" android:authorities="com.android.email.provider" />
        <provider android:name="com.android.exchange.provider.ExchangeProvider" android:permission="com.android.email.permission.ACCESS_PROVIDER" android:multiprocess="true" android:authorities="com.android.exchange.provider" />
        <service android:name="com.android.exchange.SmsRelayService" android:enabled="true" />
        <receiver android:name="com.android.exchange.SmsReceiver" android:enabled="true">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        <activity android:label="@string/add_account_action" android:name=".activity.setup.AccountSetupProvisioning" android:exported="true" android:launchMode="singleTop" android:configChanges="keyboardHidden|orientation" />
        <activity android:name=".activity.setup.AccountSetupSelectService" android:exported="true" android:configChanges="keyboardHidden|orientation" />
        <receiver android:name="com.digc.seven.SevenBroadCastReceiver">
            <intent-filter>
                <action android:name="com.seven.Z7.EMAIL_RECEIVED" />
                <action android:name="com.seven.Z7.EMAIL_SENT" />
                <action android:name="com.seven.Z7.EMAIL_MOVED" />
                <action android:name="com.seven.Z7.EMAIL_REMOVED" />
                <action android:name="com.seven.Z7.EMAIL_DRAFT_SAVED" />
                <action android:name="com.seven.Z7.EMAIL_UPDATED" />
                <action android:name="com.seven.Z7.FOLDER_ADDED" />
                <action android:name="com.seven.Z7.FOLDER_UPDATED" />
                <action android:name="com.seven.Z7.FOLDER_REMOVED" />
                <action android:name="com.seven.Z7.SERVICE_STATE_CHANGE" />
                <action android:name="com.seven.Z7.ACCOUNT_REMOVED" />
                <action android:name="com.seven.Z7.ACCOUNT_ADDED" />
                <action android:name="com.seven.Z7.RANGE_EMAIL_REMOVED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_DATA_CLEARED" />
                <data android:scheme="package" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <activity android:name="com.seven.Z7.app.ErrorActivity" android:launchMode="singleTop" android:configChanges="mcc|mnc|keyboard|keyboardHidden|orientation" />
        <activity android:label="@string/account_setup_basics_title" android:name=".activity.setup.AccountSetupOther" android:configChanges="keyboardHidden|orientation" />
        <activity android:label="@string/sync_schedule_title" android:name=".activity.setup.sync.AccountSyncSettings" android:launchMode="singleTop" android:configChanges="keyboardHidden|orientation" />
        <activity android:theme="@style/Z7.Theme.Dialog" android:name="com.seven.Z7.app.AttachmentDetailsActivity" android:launchMode="singleTop" android:configChanges="mcc|mnc|keyboard|keyboardHidden|orientation">
            <intent-filter>
                <action android:name="com.seven.Z7.ACTION_ATTACHMENT_DETAILS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.seven.Z7.ACTION_ATTACHMENT_DETAILS" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" android:scheme="content" />
            </intent-filter>
        </activity>
        <activity android:label="@string/account_setup_incoming_title" android:name=".activity.setup.AccountSetupIncomingPremium" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="stateAlwaysVisible" />
        <activity android:theme="@android:style/Theme.NoTitleBar" android:label="@string/account_setup_check_settings_title" android:name=".activity.setup.AccountSetupCheckSettingsPremium" android:configChanges="keyboardHidden|orientation" />
        <service android:name="com.seven.Z7.authenticator.Z7AccountAuthenticatorService$MSNAuthenticatorService" android:exported="true" android:process="com.seven.Z7.app" android:authorities="calendar;com.seven.provider.email">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data android:name="android.accounts.AccountAuthenticator" android:resource="@xml/account_authenticator_msn" />
        </service>
        <service android:name="com.seven.Z7.authenticator.Z7AccountAuthenticatorService$YahooAuthenticatorService" android:exported="true" android:process="com.seven.Z7.app" android:authorities="calendar;com.seven.provider.email">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data android:name="android.accounts.AccountAuthenticator" android:resource="@xml/account_authenticator_yahoo" />
        </service>
        <service android:name="com.seven.Z7.authenticator.Z7SyncAdapterService$CalendarSyncAdapterServiceYahoo" android:exported="true" android:process="com.seven.Z7.service">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data android:name="android.content.SyncAdapter" android:resource="@xml/calendar_sync_adapter_yahoo" />
        </service>
        <service android:name="com.seven.Z7.authenticator.Z7SyncAdapterService$ContactsSyncAdapterServiceYahoo" android:exported="true" android:process="com.seven.Z7.service">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data android:name="android.content.SyncAdapter" android:resource="@xml/contacts_sync_adapter_yahoo" />
        </service>
        <service android:name="com.seven.Z7.authenticator.Z7SyncAdapterService$ContactsSyncAdapterServiceMSN" android:exported="true" android:process="com.seven.Z7.service">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data android:name="android.content.SyncAdapter" android:resource="@xml/contacts_sync_adapter_msn" />
        </service>
        <service android:name="com.android.exchange.security.ode.ODEService">
            <intent-filter>
                <action android:name="com.android.email.security.ODEService" />
            </intent-filter>
        </service>
        <uses-library android:name="touchwiz" />
        <permission android:name="com.android.email.service.BROADCAST_DETECT" />
        <uses-permission android:name="com.android.email.service.BROADCAST_DETECT" />
        <receiver android:name=".service.BackupAndRestoreService">
            <intent-filter>
                <action android:name="com.android.email.service.BROADCAST_DETECT" />
            </intent-filter>
        </receiver>
    </application>
    <uses-sdk android:minSdkVersion="7" android:targetSdkVersion="10" />
</manifest>
